body {
  background-color: #111927;
  background-image:
    radial-gradient(at 47% 33%, rgb(168, 23, 181) 0, transparent 59%),
    radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 80%;
  height: 80%;
}

main .word {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

main .word input {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 3rem;
  border: none;
  border-radius: .3rem;
  text-align: center;

  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-weight: 800;
}

main .word input:disabled {
  opacity: 0.7;
  color: #FFF;
}

main .word input.corretLetter {
  background-color: #f59e0b;
  color: #FFF;
}

main .word input.corretLetterPosition,
main .word input.win {
  background-color: #10b981;
  color: #FFF;
}